.block1{
    background-color: #02989f ;
    width: 185px;
    height: 100px;
    }
    
.block2{
      background-color: #02989f;
      width: 165px;
      height: 100px;
    }
    
.block3{
      background-color: #02989f;
      width: 185px;
      height: 100px;
    }
    
.block4{
      background-color: #02989f;
      width: 800px;
      height: 210px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  
.block5{
      background-color: #c9e265;
      width: 800px;
      height: 12px;
      margin-top: 6px;}
    
  .square{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 60px;}

.yellowC{
      position: absolute;
    background-color: #ffde59;}
.redC{
      position: absolute;
      background-color: #ff8888;
      height: 30px;
      width: 30px;}
    
  .circle1{
    top: 12px;
    left: 90px;
    border-radius: 50%;}

  .circle2{
    top: 85px;
    left: 90px;
    border-radius: 50%;}

  .circle3{
    top:25px;
    left: 290px;
    border-radius: 50%;}

  .circle4{
    top: 80px;
    left: 225px;
    border-radius: 50%;
    height: 70px;
    width: 70px;}

  .circle5{
    top: 25px;
    left: 155px;
    border-radius: 50%;
    height: 70px;
    width: 70px;}

  .circle6{
    top: 150px;
    left: 150px;
    border-radius: 50%;
    height: 30px;
    width: 30px;}
    

    .triangle1 {
    position: absolute;
    top: 82px;
    left: 340px;
      width: 195px;
      height: 245px;
      background: #008038;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}

  .triangle2 {
    position: absolute;
    top: 168px;
    left: 440px;
    width: 180px;
    height: 160px;
    background: #c9e265;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}


    .person1{
      position: absolute;
      top: 275px;
      left: 80px;
    
    }

    .person2{
      position: absolute;
      left: 110px;
      top: 275px;
    }

    .person3{
      position: absolute;
      left: 140px;
      top: 275px;
    }

    .person4{
      position: absolute;
      left: 170px;
      top: 275px;
    }

    .person5{
      position: absolute;
      left: 200px;
      top: 275px;
    }

    .person6{
      position: absolute;
      left: 230px;
      top: 275px;
    }

  